en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy-transformers==1.1.8
wandb==0.13.4
awscli==1.25.93
